body {

background-color: rgba(30, 29, 29, 0.915);

color: rgba(191, 204, 12, 0.911);

font-family:  "Edu NSW ACT Hand Pre", cursive;
margin: 0px;

}

header {
    font-size: 60px;
    text-align: center;
   
    border-bottom: solid 10px red;

   /* border-bottom:dashed 8px #8B008B; */

    /* margin: 30px; */
    padding: 30px;

}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

section {

background-color: rgb(13, 60, 189);
 padding-bottom: 80px;
 padding-top: 80PX;
  display: flex;
 justify-content:center;

}

.chamada-texto  {

margin-right: 10%;

}